body {
    margin: 0px;
    padding: 0;
    font-family: sans-serif;
    background-color: #DFFF00;
}

div.container {
    margin: 0 50px 50px 50px;
}

textarea {
    resize: none;
    height: calc(70vh - 100px);
    width: calc(40vw);

}

h1 {
    margin: 12px 50px;
    color: #FF0040;

}

h2{
    text-align: center;
}

div.json-container, div.repos-container {
    display: flex;
    justify-content: space-between;
}

div.repos-container {
    flex-wrap: wrap;
}

nav.main {
    display: flex;
    justify-content: space-between;
    background-color: #FFBF00;
    height: 50px;
}

nav.main ul {
    height: 100%;
    margin: 0px;
}

nav.main ul li {
    display: flex;
    align-items: center;
    border-left: 1px solid #FF0040;
    padding: 0 20px;


}

nav.main ul li a {

    color: #DFFF00;
    text-decoration: none;

}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

li.current-page {
    color: #FF0040;
}


nav.pagination ul li {
    cursor: pointer;
    padding: 0 5px;

}

div.repo {
    margin: 20px;
    padding: 10px;
    border: 1px solid #9573FF;
    border-radius: 10px;
    width: calc(40vw);
    background-color: #fff;
}
div.repo span{
    color:#9573FF;
    padding-right: 5px;

}